@import "../../styles/variables";
.dateSelector {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  grid-gap: 10px;
  @include tablet-desktop {
    grid-template-columns: 140px auto 90px;
  }
}
