@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=swap");
@import "variables";

body {
  margin: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
