$black: #000000;
$white: #ffffff;
$grey: #f7f7f7;
$dark_grey: #ddd;

//Brand Colors
$primary_blue: #375a91;
$primary_orange: #fe8c1e;
$primary_green: #EEFCF1;
$secondary_green: #AECCB1;
$primary_red: #edb8b2;
$secondary_red: red;

// TEXT COLOURS
$heading-primary: $primary_blue;
$heading-secondary: $black;
$main-body: $black;

// GLOBALS
$small-mobile-width: 480px;
$mobile-width: 750px;
$tablet-width: 1024px;
$desktop-width: 1240px;

//mixins
@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$tablet-width + 1}) {
    @content;
  }
}
