@import "../../styles/variables";

.header {
  background: $primary_blue;
}

.headerContainer {
  color: $white;
  padding: 10px 0;
  @include desktop {
    width: $mobile-width;
    padding: auto;
  }
}
