@import "../../styles/variables";

.formGroup {
  display: grid;
  text-align: left;
  margin: 12px 0;
  @include tablet-desktop {
    grid-template-columns: 25% 55% 20%;
    margin: 16px 0;
  }

}

.formGroupLabel {
  text-transform: uppercase;
  color: $dark_grey;
}

.formGroupHelper {
  font-size: 10px;
}
