@import "../../styles/variables";
.alert {
  border: 1px solid;
  text-align: left;
  padding: 20px 40px;
  &.success {
    background: $primary_green;
    border-color: $secondary_green;
  }
  &.error {
    background: $primary_red;
    border-color: $secondary_red;
  }

  &.sm {
    padding: 5px;
  }
}

.title {
  margin: 0 0 8px 0;
  font-size: 16px;
  .success &{
    color: $secondary_green;
  }
  .error &{
    color: $secondary_red;
  }
}

.message {
  font-size: 14px;
  margin:0;
}

