@import "../../styles/variables";

.fieldset {
  background: $white;
  border: 1px solid $dark_grey;
  margin: 0 0 10px 0;
  padding: 10px 20px;
}

.fieldsetBody {
}
.fieldsetHeader {
  color: $primary_blue;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid $dark_grey;
  padding: 6px 0;
}
